default-lease-time 0xffffffff;
max-lease-time 0xffffffff;

allow booting;
allow bootp;

subnet {{ subnet }} netmask {{ netmask }} {
    range dynamic-bootp {{ rangeStart }} {{ rangeEnd }};
#    option domain-name-servers 172.16.6.107;
#    option routers 172.16.6.254;
#    option broadcast-address 172.16.6.255;
    next-server {{ tftpServerIP }}; #tftp server's ip address
    filename "/pxelinux.0";
}
